.input {
  background-color: var(--gray-500);
  border-width: 1px;
  border-style: solid;
  border-color: var(--gray-500);
  color: var(--white);
  padding: .75rem 1rem;
  height: var(--form-input-size);
  border-radius: 12px;
  font-size: 1rem;
}

.input:hover {
  background-color: var(--gray-400);
  border-color: var(--gray-500);
}

.input:focus {
  background-color: var(--gray-500);
  border-color: var(--gray-500);
  outline: none;
}

.input::placeholder {
  color: #8A8F9B;
}

.input__error {
  display: none;
  align-items: center;
  background-color: var(--red-100);
  color: var(--red-200);
  padding: .75rem 1rem;
  height: var(--form-input-size);
  margin-top: 12px;
  border-radius: 12px;
}

.input__error--show {
  display: flex;
}
