.task__item {
  display: grid;
  grid-auto-flow: column;
  align-items: center;
  gap: 16px;
  margin-bottom: var(--gap);
}

.task__text {
  display: flex;
  align-items: center;
  background-color: var(--gray-200);
  border-color: var(--gray-600);
  border-width: 1px;
  border-style: solid;
  min-height: var(--form-input-size);
  width: calc(var(--gap) * 21.5);
  border-radius: 12px;
  padding: .5rem 1rem;
  word-break: break-all;
}

@media screen and (max-width: 500px) {
  .task__text {
    width: 220px;
  }
}

.task__text--closed {
  text-decoration: line-through;
  opacity: .5;
}

.task__actions {
  display: grid;
  gap: calc(var(--gap) / 2);
  grid-auto-flow: column;
}

.task__btn {
  width: var(--form-input-size);
  height: var(--form-input-size);
}

.task__btn--closed {
  border-color: var(--blue-600);
}

.task__icon {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  margin-top: 3px;
}
