.tasks {
  height: inherit;
  display: grid;
  grid-auto-rows: max-content;
  justify-content: center;
  padding-top: 11.25rem;
}

.tasks__form {
  display: grid;
  gap: var(--gap);
  padding-bottom: 2.5rem;
  grid-template-areas:
            "title title"
            "input btnSubmit";
}

.tasks__title {
  grid-area: title;
  font-size: 2.25rem;
}

.tasks__input {
  grid-area: input;
  width: calc(var(--gap) * 21.5);
}

@media screen and (max-width: 500px) {
  .tasks__input {
    width: 220px;
  }
}

.tasks__btn--submit {
  grid-area: btnSubmit;
  width: calc(var(--form-input-size) * 2 + var(--gap) / 2);
  height: var(--form-input-size);
}

.tasks__filter {
  display: flex;
  margin-bottom: 24px;
}
