* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html, body {
  font-family: Arial, sans-serif;
  background-color: var(--blue-500);
  color: var(--white);
  font-size: 16px;
  height: 100%;
}

main {
  height: inherit;
}
